.Mixer {
    box-sizing: border-box;
    .is-hidden {
        display: none;
    }

    .is-visible {
        display: block;
    }

    .color-box {
        border: 2px solid black;
        height: 50vh;
        display: flex;
        align-items: end;
        justify-content: center;
        position: relative;

        .mixed-color-container {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            z-index: -1;
            transition: background-color 0.15s ease-in-out;

            .mixed-color-values {
                margin: 1rem 0 0 1rem;
                display: flex;
                flex-direction: column;

                label{
                    font-weight: bold;
                }
            }
        }

        .target-color-container {
            width: 40%;
            position: absolute;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
            transition: background-color 0.15s ease-in-out;

            .target-color-values {
                margin: 0 0 0 0;
                display: flex;
                flex-direction: column;
                position: relative;


                label{
                    font-weight: bold;
                }
            }
            .target-color-box {
                position: absolute;
                z-index: 2;
                top: 0;
                right: 0;
                border: 0;
                transition: background-color 0.15s ease-in-out;
            }
        }

        .transparency-box{
            width: 100%;
            height: 100%;
            background-image: url("../src/assets/transparent.png");
            position: absolute;
            z-index: -99;
        }

        .color-box-ui {
            display: flex;
            position: absolute;
            bottom: 0;
            justify-content: space-between;
            width: 100%;

            label {
                display: flex;
                flex-direction: column;
                margin: 0 0.5rem 0 0.5rem;
            }

            button {
                padding: 0;
                background-color: transparent;
                border: 0;
                text-transform: uppercase;

                svg {
                    height: 1.6rem;
                    width: 1.6rem;
                }
            }
        }

    }

    .target-color-box, .popover-box {
        width: 200px;
        align-items: center;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 5px 0 0 0;
        padding: 0.5rem 1rem;
        .w-color-editable-input:nth-of-type(4) {
            visibility: hidden;
            display: none !important;
        }

        .close-button {
            position:absolute;
            right: 5px;
            top: 0;
            background-color: transparent;
            border: none;
            color: black;
            margin: 0;
            padding: 0 3px;
        }

        .w-color-wheel {
            border-radius: 50%;
            border: white solid 0.25px;
        }

        .shade-slider {
            margin: 1rem 0;
            width: 200px;
        }

        .w-color-editable-input {
            width: 2rem;
            input {
                background-color: rgb(61, 61, 61) !important;
                color: rgb(255, 255, 255) !important;
            }

        }

        .color-preview {
            align-items: center;
            display: flex;
            justify-content: center;
            margin: 1rem 0;
            padding: 0.5rem 0.25rem;
            width: 100px;
        }

        button {
            border-radius: 10%;
            font-size: 1.2rem;
            margin: 0.5rem;
            padding: 0.5rem 1rem;


        }
    }
    .target-color-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 1rem 0 0 1rem;

        .target-color-data{
            padding: 0 1rem 0.5rem;
        }
    }

    .popover-box {
        position: relative;
        border-radius: 0 0 20% 20%;
        width: auto;
    }

    .swatch-container {
        .change-parts-qty {
            align-items: center;
            display: flex;
            justify-content: space-around;
            padding: 0;
            width: 100%;

            .subtract-parts {
                border-radius: 50%;
                cursor: pointer;
                font-size: 1.5rem;
                padding: 0 0.5rem;
                user-select: none;
                width: 2rem;
            }
        }
    }

    .swatches {
        display: flex;
        flex-wrap: wrap;


        .add-color-ui {
            > button {
                background-color: transparent;
                border: 0;
                font-size: 3rem;
                height: 8.6rem;
                position: absolute;
                width: 5rem;
            }
        }

        .swatch {
            align-content: center;
            border-radius: 0 0 20% 20%;
            border: 1px solid black;
            height: 6rem;
            justify-content: center;
            margin: 5px 5px 5px 0;
            position: relative;
            width: 10rem;

            .recipe-info-button {
                position: absolute;
                right: 0.9rem;
                top: 1px;
                font-size: 0.9rem;
                z-index: 20;
                cursor: pointer;
            }


            .remove-from-palette {
                background-color: transparent;
                border: none;
                cursor: pointer;
                font-size: 1rem;
                position: absolute;
                right: 0;
                top: 1px;
                user-select: none;
            }

            .partsInMix {
                cursor: pointer;
                display: flex;
                font-size: 2rem;
                justify-content: center;
                padding: 2rem 0 1rem 0;
                position: relative;
                top: 1rem;
                user-select: none;
                width: 100%;
            }

            .label {
                display: block;
                font-size: 0.8rem;
                margin: 0.2rem 1rem 0.5rem 0.4rem;
                position: absolute;
                top: 1px;
                z-index: 2;
            }
            .swatch-ui {
                align-items: center;
                bottom: 0;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                left: 0;
                position: relative;
                right: 0;
                width: 100%;

                > input {
                    padding: 0.2rem 0.4rem 0 0.2rem;
                    position: absolute;
                    top: 0;
                }
            }
            button {
                background-color: transparent;
                border: none;
                font-size: 1.6rem;
            }
        }
    }
    .recipe-info {
        position: absolute;
        width: 9rem;
        font-size: 0.75rem;
        background-color: #FFFFFF33;
        padding: 0.5rem 0 0.5rem 0.5rem;
        top: 1rem;

        h3 {
            font-size: 0.9rem;
            margin: 0.5rem 0 0 0;
        }
    }
}
